body {
  background-color: #fbe2db;
}

main {
  max-width: 1000px;
  margin-inline: auto;
}

.breadcrumbs {
  display: flex;
  gap: 20px;
  padding: 20px;
  margin: 20px;
  margin-top: 90px;
  font-size: 1.2rem;
  list-style-type: none;
  --pink: #fbc8c7;
}

:root {
  --pink: #fbc8c7;
  --dpink: rgb(228, 155, 154);
  text-decoration: none;
}

@media (min-width: 700px) {
  .grid {
    /* width: 40%; */
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    margin-top: 7em;
    margin-right: 40px;
  }
}

.center {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.center2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_container {
  width: 400px;
  height: 500px;
}

.card_border {
  width: 400px;
  height: 500px;
  border: 2px solid var(--pink);
  position: relative;
  top: -508px;
  left: -8px;
}

.card_bg {
  background-color: white;
  width: 100%;
  height: 100%;
}

.card_container2 {
  width: 600px;
  height: 230px;
}

.card_border2 {
  width: 600px;
  height: 230px;
  border: 2px solid var(--pink);
  position: relative;
  top: -239px;
  left: -8px;
}

.card_bg2 {
  background-color: white;
  width: 100%;
  height: 100%;
  margin-top: 7rem;
}

.card_container3 {
  width: 600px;
  height: 230px;
}

.card_border3 {
  width: 600px;
  height: 230px;
  border: 2px solid var(--pink);
  position: relative;
  top: -240px;
  left: -8px;
}

.card_bg3 {
  background-color: white;
  width: 100%;
  height: 100%;
  margin-top: 9.5rem;
}
