body{
    background-color:#d3fffa;
}

label,
input,
textarea,
select,
button {
  display: block;
}

form {
    display: grid;
    gap: 2rem;
  }
  
  .form-felt {
    display: grid;
    gap: 3px;
  }

  form{
    margin-top: 100px;
    background-color:  #fbe2db;
    border-radius: 10px;
    color: white;
   
    text-decoration: none;
    text-align: center;
  }

  label{
    margin:auto;
    
  }
  select{
    margin:auto;
  }
