body {
  background-color: #f8f1cd;
}

:root {
  --pink: #fbc8c7;
  --dpink: rgb(228, 155, 154);
  text-decoration: none;
}

.grid {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  margin-top: 4em;
}

.center {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.center2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.plante {
  margin-bottom: 3em;
}

.card_container {
  width: 200px;
  height: 400px;
}

.card_border {
  width: 200px;
  height: 400px;
  border: 2px solid var(--pink);
  position: relative;
  top: -408px;
  left: -8px;
}

.card_bg {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.card_bg > img {
  height: 100%;
}

.kategori {
  position: relative;
  top: -395px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dpink);
  font-size: 20px;
}

@media only screen and (min-width: 800px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    margin-top: 7em;
  }

  .plante {
    margin: 0;
  }

  .card_container {
    width: 300px;
    height: 600px;
  }

  .card_border {
    width: 300px;
    height: 600px;
    top: -608px;
    left: -8px;
  }

  .kategori {
    top: -590px;
  }
}

@media only screen and (min-width: 1110px) {
  .grid {
    gap: 0;
    width: 60%;
  }
}

@media only screen and (min-width: 1300px) {
  .grid {
    width: 50%;
  }
}

@media only screen and (min-width: 1600px) {
  .grid {
    width: 40%;
  }
}

@media only screen and (min-width: 1700px) {
}
